<script lang="ts" setup>
import { useProductStore } from "@/stores/product.js";
import { onMounted } from "vue";
import ProductDialog from "./ProductDialog.vue";

const productStore = useProductStore();

onMounted(async () => {
  await productStore.getProducts();
});
</script>
<template>
  <v-container>
    <v-card>
    <ProductDialog></ProductDialog>
    <v-btn variant="outlined" color="primary" @click="productStore.dialog = true"> <v-icon icon="mdi-plus" class="mr-1" size="25"></v-icon>Add New</v-btn>
    <v-table>
      <thead>
        <tr>
          <th class="text-center">ID</th>
          <th class="text-center">Name</th>
          <th class="text-center">Price</th>
          <th class="text-center"> Operations</th>
        </tr>
      </thead>

      <tbody class="text-center">
        <tr v-for="item of productStore.products" :key="item.id">
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.price }}</td>
          <td><v-btn class="mr-5" color="secondary" @click="productStore.editProduct(item)"><v-icon icon="mdi-pencil" class="mr-1" size="25"></v-icon>Edit</v-btn>
            <v-btn color="error" @click="productStore.deleteProduct(item.id!)"><v-icon icon="mdi-delete" class="mr-1" size="25"></v-icon>Delete</v-btn>
          </td>
        </tr>

      </tbody>
    </v-table>
    </v-card>
  </v-container>
</template>
